body {
    background-image: url(../images/textures/texture-background.jpg);
    font-family: 'Koho';
    font-weight: 600;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__title {
    color: var(--title-main);
    font-size: var(--large-font);
    margin: 24px;
}

.team__list {
    padding: 0;
}

.team__list li {
    display: inline-block;
    margin: 8px 16px;
}

.team__list li:hover {
    font-size: 23px;
    font-weight: 900;
    text-decoration: underline;
    cursor: pointer;
}

