header {
    position: absolute;
}

.header__picture {
    background-image: url(../images/background/birds-background.jpg);
    background-position: top;
}

.container__section-1,
.container__section-2 {
    user-select: none;
}

.section-2__text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section-2__text--changeContent {
    margin: var(--base-margin);
}

.animalMenu__element {
    padding: 0;
    background-color: var(--button-secondary);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    color: var(--textcolor-secondary);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin: var(--base-margin);
    padding: var(--small-padding);
}

.animalMenu__element:hover {
    font-weight: 700;
}

.animalMenu__element--active {
    background-color: var(--button-main);
}

.hidden {
    display: none;
}

.section-2__text--readmore {
    color: black;
    display: inline-block;
    margin: var(--base-margin);
    text-align: right;
}

.section-2__text--readmore:hover {
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}