header {
    position: absolute;
}
.birds-background {
    background-image: url(../images/background/birds-background.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 50%;
    width: 100%;
}