@font-face {
    font-family: 'ZillaSlab';
    src: url('Fonts/Zilla_Slab_WOFF/ZillaSlab-Bold.woff') format('woff'),
         url('Fonts/Zilla_Slab_WOFF/ZillaSlab-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
}

.imgWrapper {
    margin: 24px 0 24px 24px;
    height: 70px;
    width: 70px;
}

.titleWrapper h1 {
    font-size: 1.2rem;
    margin: 24px 5px 0 0;
}

.titleWrapper h2 {
    margin: 0 5px 0 16px;
}

.titleWrapper h1, .titleWrapper h2 {
    font-family: 'ZillaSlab';
}

body {
    margin: 0;
    font-family: 'KoHo';
    color: var(--textcolor-secondary);
}

/* Hamburger Menu Icon */
.hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Shadow effect */
    background-color: var(--title-tertiary);
}

.hamburger-menu .line {
    width: 30px;
    height: 4px;
    background-color: var(--title-main);
    margin: 6px 0;
    transition: background-color 0.3s ease;
}

.hamburger-menu:hover .line {
    background-color: var(--button-main);
}

/* Side Menu (Full Screen) */
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /* Full screen width */
    height: 100%; /* Full screen height */
    color: var(--textcolor-main);
    transition: 0.3s ease-in-out;
    padding-top: 50px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Hide by default */
    background-color: var(--title-tertiary);
}

.side-menu.open {
    opacity: 1;
    visibility: visible;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.side-menu ul li {
    padding: 20px;
}

.side-menu ul li a {
    text-decoration: none;
    color: var(--title-main);
    font-size: 30px;
    letter-spacing: 2px; /* Slightly spaced letters */
    display: block;
    transition: color 0.3s, letter-spacing 0.3s;
}

.side-menu ul li a:hover {
    color: var( --button-secondary);
    letter-spacing: 5px; /* Increase letter-spacing on hover */
}

/* Menu Open/Close Animations */
.hamburger-menu.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .line:nth-child(2) {
    opacity: 0; /* Hide the middle line */
}

.hamburger-menu.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}
