body {
    font-family: 'KoHo';
}

.header__picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60%;
    width: 100%;
}

.section-1__title--changeContent-1,
.section-1__title--changeContent-2,
.section-2__title--changeContent-1,
.section-2__title--changeContent-2 {
    font-family: 'Love Ya Like A Sister';
    font-size: var(--large-font);
    margin: 0;
}

.container__section-1,
.container__section-2 {
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.container__section-1 {
    background-image: url(../images/textures/texture2-backgorund.jpg);
}

.container__section-2 {
    background-image: url(../images/textures/texture-background.jpg);
    justify-content: center;
}

.section-1,
.section-2 {
    align-items: center;
    display: flex;
    padding: var(--large-padding) var(--large-padding) 0 var(--large-padding);
    width: 85%;
}

.section-1__text,
.section-2__text {
    font-weight: 600;
    margin: var(--large-margin) 0;
    padding: var(--large-padding);
}

.section-2__text {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section-1__text--changeContent,
.section-2__text--changeContent {
    font-size: 1rem;
    margin: var(--base-margin);
    text-transform: uppercase;
}

.section-1__text--changeContent {
    color: var(--textcolor-secondary);
}

.section-2__text--changeContent {
    color: var(--textcolor-main);
    margin: var(--base-margin);
    text-align: right;
}

.section-1__title,
.section-2__title {
    margin: var(--large-margin) 0;
    padding: var(--large-padding);
}

.section-1__title {
    text-align: right;
}

.section-1__title--changeContent-1,
.section-1__title--changeContent-2,
.section-2__title--changeContent-1,
.section-2__title--changeContent-2 {
    margin: 0 var(--base-margin) var(--base-margin) var(--base-margin);
    text-transform: uppercase;
}

.section-1__title--changeContent-1 {
    color: var(--title-secondary);
}

.section-1__title--changeContent-2 {
    color: var(--title-tertiary);
}

.section-2__title--changeContent-1 {
    color: var(--title-main);
}

.section-2__title--changeContent-2 {
    color: var(--title-secondary);
}

.section-2__img--changeContent {
    width: 300px;
}

.section-2__img {
    margin-bottom: var(--base-margin);
    margin-left: -32px;
}

.animalmenu {
    align-items: end;
    display: flex;
    height: 20%;
    justify-content: center;

    ul li {
        padding: 0;
        background-color: var(--button-secondary);
        border-radius: var(--border-radius);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
        color: var(--textcolor-secondary);
        display: inline-block;
        font-weight: 600;
        margin: var(--base-margin) var(--base-margin);
        padding: var(--small-padding);
    }
}

.section-2__text--readmore {
    color: black;
    display: inline-block;
    margin: var(--base-margin);
    text-align: right;
}

.section-2__text--readmore:hover {
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

@media screen and (max-width: 1350px) {
    .section-1, .section-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section-1__title, .section-2__title {
        text-align: center;
        order: 0;
        margin-bottom: 0;
    }

    .section-1__title--changeContent-1, 
    .section-1__title--changeContent-2,
    .section-2__title--changeContent-1,
    .section-2__title--changeContent-2 {
        font-size: 2.5rem;
    }

    .section-1__text, 
    .section-2__text {
        text-align: center;
        margin-top: 0;
        padding: 8px 8px;
        order: 1;
    }

    .section-1__text--changeContent, 
    .section-2__text--changeContent {
        font-size: 0.9rem;
    }

    .section-2__text--changeContent {
        text-align: center;
    }

    .animalmenu__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
} 