body {
    font-family: 'KoHo';
}

span {
    font-family: 'Love Ya Like A Sister';
    font-size: var(--large-font);
    margin: 0;
}

.container__section-1, .container__section-2 {
    align-items:  center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.container__section-1 {
    background-image: url(../images/textures/texture2-backgorund.jpg);
}

.container__section-2 {
    background-image: url(../images/textures/texture-background.jpg);
    justify-content:  center;
}

.section-1, .section-2 {
    align-items: center;
    display: flex;
    padding: var(--large-padding) var(--large-padding) 0 var(--large-padding);
    width: 75%;
}

.section-1 {
    height: 80%;
}

.section-2 {
    height: 100%;
}

.section-1__text, .section-2__text {
    font-weight: 600;
    margin: var(--large-margin) 0;
    padding: var(--large-padding);
}

.section-1__text--changeContent, .section-2__text--changeContent {
    font-size: 1rem;
    margin: var(--base-margin);
    text-transform: uppercase;
}

.section-1__text--changeContent {
    color: var(--textcolor-secondary);
}

.section-2__text--changeContent {
    color: var(--textcolor-main);
    text-align: right;
}

.section-1__title, .section-2__title {
    margin: var(--large-margin) var(--large-margin) var(--large-margin) 0;
    padding: var(--large-padding);
}

.section-1__title {
    text-align: right;
}

.section-1__title--changeContent-1, .section-1__title--changeContent-2, .section-2__title--changeContent-1, .section-2__title--changeContent-2 {
    margin: 0 var(--base-margin) var(--base-margin) var(--base-margin);
}

.section-1__title--changeContent-1 {
    color: var(--title-secondary);
}

.section-1__title--changeContent-2 {
    color: var(--title-tertiary);
}

.section-2__title--changeContent-1 {
    color: var(--title-main);
}

.section-2__title--changeContent-2 {
    color: var(--title-secondary);
}

.section-2__img--changeContent {
    width: 250px;
}

.animalmenu {
    align-items: end;
    display: flex;
    height: 20%;
    justify-content: center;
}

ul {
    padding: 0;
}

ul li {
    background-color: var(--button-secondary);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    color: var(--textcolor-secondary);
    display: inline-block;
    font-weight: 600;
    margin: var(--small-margin) var(--base-margin);
    padding: var(--small-padding);
}

.section-1__empty {
    width: 40%;
}

.section-2__empty {
    width: 60%;
}