body {
    font-family: 'KoHo';
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-weight: 600;
    text-align: center;
}

.sidebar {
    background-color: beige;
    font-family: 'KoHo';
    font-weight: bold;
}

.sidebar {
    background-color: var(--textcolor-secondary);
    width : 189px;
    height: 38px;
    padding: 20px;
   
}

.sidebar ul {
    padding: 0;
    padding: 0px;
    list-style-type: none;
}

.sidebar ul li {
    text-align: center;
    padding: 8px;
    font-size: 22px;
    cursor: pointer; 
    color: #211000;
    color: var(--textcolor-main);
}

header {
    position: absolute;
}

.bgImageWrapper {
    background-image: url(../images/background/quokka-background.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 50%;
    width: 100%;
}

.main {
    flex: 1;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.welcome-message h1 {
    color: var(--title-main);
    font-size: var(--large-font);
    line-height: 83.2px;
    text-align: center;
   
}

.welcome-message p {
    color: var(--textcolor-main);
    text-align: center;
    font-size: var(--base-font);
    line-height: 28.6px;
}