body {
    background-color: var(--title-tertiary);
    display: flex;
    margin: 0;
    padding: 0;
}

.main {
    width: 80%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.welcome-message h1 {
    color: var(--title-main);
    font-size: var(--large-font);
    line-height: 83.2px;
    text-align: center;
   
}

.welcome-message p {
    color: var(--textcolor-main);
    text-align: center;
    font-size: var(--base-font);
    line-height: 28.6px;
}