body {
    font-family: 'Zilla Slab';
    src: url('ZillaSlab-BoldItalic.woff2') format('woff2'),
        url('ZillaSlab-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

.sidebar {
    background-color: beige;
    width : 189px;
    height: 38px;
    padding: 20px;
   
}

.sidebar ul {
    padding: 0px;
    list-style-type: none;
}

.sidebar ul li {
    text-align: center;
    padding: 8px;
    font-size: 22px;
    cursor: pointer; 
    color: #211000;
}