:root {
    --small-font: 19px;
    --base-font: 22px;
    --large-font: 64px;
    --textcolor-main: #211000;
    --textcolor-secondary: #F5F0D7;
    --title-main: #3C5724;
    --title-secondary: #89AA4F;
    --title-tertiary: #F5F0D7;
    --button-main: #F07300;
    --button-secondary: #89AA4F;
    --button-secondary-hover: #657D3B;
    --button-tertiary: #E2DDC8;
    --button-tertiary-hover: #FFFAE2;
    --border-radius: 10px;
    --small-margin: 8px;
    --base-margin: 16px;
    --large-margin: 24px;
    --small-padding: 8px;
    --base-padding: 16px;
    --large-padding: 24px;
    --border-color: #fff;

}

